# Project exclude paths
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Project files
.idea/
/.gradle/
/build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/.allure/